.customer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 5rem;
  background-color: #222222;
  color: #ffffff;
  overflow: hidden;
  padding: 6.4rem 12.7rem 0rem 12.7rem;
}

.customer__image {
  max-width: 61.7rem;
  max-height: 58.2rem;
  width: 100%;
  margin-bottom: -9rem;
}

.customer__text {
  max-width: 68.6rem;
  width: 100%;
  padding: 2rem;
  /* margin-left: 14.3rem; */
}
.customer__text h2 {
  line-height: 3.87rem;
  font-size: 3.2rem;
  letter-spacing: 1%;
  margin-bottom: 0.8rem;
}

.customer__text p {
  max-width: 41.7rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

@media screen and (max-width: 750px) {
  .customer__text {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 550px) {
  .customer {
    padding: 4rem 5rem 0rem 5rem;
  }
  .customer__image {
    margin-bottom: -6rem;
  }

  .customer__text p {
    max-width: 68rem;
  }
}
@media screen and (max-width: 485px) {
  .customer {
    padding: 4rem 5rem 0rem 5rem;
    grid-template-columns: 1fr;
  }
  .customer__image {
    margin-bottom: -6rem;
    grid-row-start: 2;
  }
  .customer__text {
    margin: 0;
  }

  .customer__text p {
    max-width: 68rem;
  }
}
