.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  margin-left: 12.7rem;
  padding-left: 5rem;
  max-width: 58.6rem;
  width: 100%;
}

.hero__text h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
}
.hero__text p {
  max-width: 48.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.1rem;
  letter-spacing: 2%;
}

.hero__img img {
  max-width: 71.1rem;
  max-height: 56.8rem;
  padding-top: 3rem;
  width: 100%;
  padding-right: 11rem;
  display: block;
}
