.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0rem 5rem;
  margin-top: 3rem;
}

.hero__text {
  width: 53rem;
}

.hero__text h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
}
.hero__text p {
  max-width: 48.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.1rem;
  letter-spacing: 2%;
}

.hero__img img {
  max-width: 70rem;
  max-height: 56.8rem;
  padding-top: 3rem;
  width: 100%;
  display: block;
}

@media screen and (max-width: 485px) {
  .hero {
    margin: 0 5rem;
    margin-top: 3rem;
    grid-template-columns: 1fr;
  }
}
