.header {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.logo {
  margin-left: 18rem;
}
nav,
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  margin-right: 18rem;
}

.list__item {
  list-style: none;
  margin-right: 4rem;
}

.list__item a {
  text-decoration: none;
  color: #242120;
}

@media screen and (max-width: 570px) {
  .logo {
    margin-left: 10rem;
  }
  nav {
    display: none;
  }
}
