* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 950px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 32%;
  }
}
