.user_tag {
  color: red;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 34rem);
  gap: 5.6rem;
  place-content: center;
  padding: 7.5rem 0;
}

.card {
  max-width: 34rem;
  padding: 2rem;
}
.username {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;
  margin: 3.2rem 0 1.4rem 0;
  color: #474747;
}

span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.05em;
  color: #535353;
  margin-right: 2.1rem;
}

img {
  max-width: 20rem;
  max-height: 20rem;
}
.comment {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #474747;
  letter-spacing: 0.02em;
  margin-top: 2.4rem;
}

.location {
  display: flex;
  align-items: center;
}
